<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tic Tac Toe</title>
    <div th:replace="fragments.html :: headerfiles"></div>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="#" th:href="@{~/css/cover.css}">
</head>
<body class="cover-wrapper">
<div th:insert="fragments.html :: nav" class="masthead mb-auto"></div>
<section class="cover-container text-center p-3 mx-auto">
    <main role="main" class="inner cover">
        <h1 class="media-heading cover-heading mb-4" th:text="${status}">500</h1>
        <p class="cover-text">Oops! Some error occurred!</p>
    </main>
</section>
<footer class="mastfoot text-center mt-auto">
    <p class="text-muted">&copy; 2020 Steven Kolamkuzhiyil</p>
</footer>
<footer th:replace="fragments.html :: nav-jquery"></footer>
<div th:replace="fragments.html :: nav-script"></div>
</body>
</html>
